body {
    background-color: #333;
    color: #ccc;
    margin: 10;
    font-family: Arial, sans-serif;
}

button {
    background-color: #a90f0f;
    color: #ffffff;
    padding: 5px 10px;
    cursor: pointer;
}

img {
    width: 150px;
    height: auto;
}